<div class="container-fluid part-time-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">Part Time Bootcamp</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-4">
      <img class="img-responsive" src="assets/part-time/day-night.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h1>Work By Day, Code At Night</h1>
    </div>
    <div class="col-md-6">
      <p class="parragraphs">Do you aspire to become a web developer, software engineer and/or mobile developer? Can’t attend our full-time program because you need to keep your day job? Our part-time evening program allows you to begin learning the skills needed to become a developer while maintaining a regular work schedule.</p>
    </div>
    <div class="col-md-12">
      <h1>About This Program</h1>
      <ul>
        <li><p class="parragraphs">Keep your day job. Our evening program is a more flexible (but still intensive) alternative to our full-time program.</p></li>
        <li><p class="parragraphs">Part-time course load with classes meeting a couple nights a week from 6-9 p.m.</p></li>
        <li><p class="parragraphs">1 year commitment for part-time option or 9 month commitment with a transition to full-time track after first 6 months.</p></li>
        <li><p class="parragraphs">Homework and class projects each week.</p></li>
        <li><p class="parragraphs">Best for those only able to commit evenings to learning programming</p></li>
      </ul>
      
    </div>
    <div class="col-md-8 center-block">
      <img class="img-responsive" src="assets/part-time/nss_website_programs-part-timeSmall.png" alt="">
    </div>
  </div>

  <div class="row program-content">
    <div class="col-md-12">
      <h1>Flexible, Intensive Learning</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">The Evening Developer Bootcamp covers the same curriculum as our six month full-time immersion program. However, it is structured in a flexible, part-time evening and weekend format over the course of twelve months. You also have the option to accelerate your graduation by switching to the full-time program for the second half of the curriculum.
      </p>
      <p class="parragraphs">
      Visit the links below to know more about the technologies covered in each of our classes.</p>
      <ul>
        <li>
          <a class="parragraphs" href="<%= front_end_development_index_path %>"><span class="orange">Learn more </span> about the Front-End Foundations Class.</a>
        </li>
        <li>
          <a class="parragraphs" href="<%= full_time_bootcamp_ruby_path %>"><span class="orange">Learn more</span> about Software Development Foundations with Ruby on Rails</a>
        </li>
        <li>
          <a class="parragraphs" href="<%= full_time_bootcamp_csharp_path %>"><span class="orange">Learn more</span> about Software Development Foundations with C#/.NET.</a>
        </li>
        <li> 
          <a class="parragraphs" href="<%= full_time_bootcamp_mean_path %>"><span class="orange">Learn more</span> about Software Development Foundations with JavaScript and Node.js</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row program-content">
    <div class="col-md-6">
      <div class="col-md-12">
        <h1>Blended Learning</h1>
      </div>
      <div class="col-md-12">
        <p class="parragraphs">Our curriculum is a carefully curated collection of online and video tutorials, classroom exercises and seminar-style discussion. There are exercises for solo and pair programming as well as larger team projects. It’s all designed around hands-on learning by doing. You’ll gain both the technical knowledge as well as the soft skills you need to work as a developer. You’ll have every opportunity to push yourself hard, to learn fast and to learn deeply.</p>
      </div>
    </div>
    <div class="col-md-6">
      <img class="img-responsive" src="assets/part-time/group-project.jpg" alt="">
    </div>
  </div>


  <div class="row ">
    <div class="col-md-12">
      <div class="col-md-12">
        <h1>Flipped Classroom</h1>
      </div>
      <div class="col-md-12">
        <p class="parragraphs">You won’t be able to spend as much time in the classroom as in our full-time day program. No problem — you will prepare for classroom sessions through online videos and tutorials, readings, research and coding exercises. The classroom focuses less on lecture and more on hands-on coding, problem-solving and collaboration with the instructors and fellow students.</p>
      </div>
    </div>
  </div>


  <div class="row ">
    <div class="col-md-12">
      <div class="col-md-12">
        <h1>Community</h1>
      </div>
      <div class="col-md-12">
        <p class="parragraphs">Software development is a team sport, so we’re not going to make you do it by yourself. You’ll have the chance to learn from and be mentored by some of the smartest, most experienced software developers in Nashville. They’ll help you figure out how to solve problems and how to get unstuck and recover from mistakes. They’ll give you insight into the paths that they have taken to develop their career. We’ll also help you get connected into the fast-growing Nashville tech community.</p>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid no-padding-sides program-content">
  <div class="orange-bg">
    <div class="container padding-bottom-top">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <h1 class="white">Have Questions?</h1>
          <p class="parragraphs white">Visit our Frequently Asked Questions page for more details.</p>
          <a href="" class="btn-default btn btn-faq">FAQ</a>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <h1 class="white">Sign Me Up</h1>
          <p class="parragraphs white">Excited about NSS? Apply today.</p>
          <a href="" class="btn-default btn btn-faq">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
