<div class="container-fluid cSharp-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">C# And .Net</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-12">
      <h1>Course Overview & Technologies</h1>
    </div>
    <div class="col-md-12 padding-bottom-top">
      <div class="col-md-2" style="display: inline-block;"><img class="technologies" src="/assets/technologies/net.jpg" alt=".Net"></div>
      <div class="col-md-2" style="display: inline-block;"><img class="technologies" src="/assets/technologies/azure.png" alt="Azure"></div>
      <div class="col-md-2" style="display: inline-block;"><img class="technologies" src="/assets/technologies/visual.png" alt="Visual"></div>
      <div class="col-md-2" style="display: inline-block;"><img class="technologies" src="/assets/technologies/csharp.png" alt="Csharp"></div>
      <div class="col-md-2" style="display: inline-block;"><img class="technologies" src="/assets/technologies/sqlserver.png" alt="SQL"></div>
      <div class="col-md-2" style="display: inline-block;"><img class="technologies" src="/assets/technologies/github.png" alt="Github" style="max-width: 60px;"></div>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">This course is one of three options for completing our Web Developer Bootcamp. All three courses cover the essentials of developing the server-side code that is an integral component of modern web and mobile applications. On completion of this course students are ready to design, code, test and deploy a fully-functional web service or the server-side code for a web application. This class is designed for students who have completed the Front-end Development Foundations class that starts our bootcamp but who otherwise with limited or no prior technical experience. This course completes your training as a full-stack software developer.
      </p>

      <p class="parragraphs">You’ll learn the key features and capabilities of Microsoft’s software development technology stack. This includes C# - one of the most widely used modern object-oriented programming languages, .NET - a highly productive and comprehensive development framework, and a wide range of supporting and related technologies. You will also be introduced to database management, test-driven development, agile methods, the Visual Studio IDE and other key concepts and tools that will help accelerate your entry into a career in software development.</p>

      <p class="parragraphs">Like all of our Bootcamp classes, this class is designed around hands-on learning by doing. Our instructors and guest lecturers are all experienced professional developers — they’ll introduce new technical material to the class, they will demonstrate how to apply new concepts through live-coding exercises, they’ll review and provide feedback on student code and otherwise be highly engaged in the class, but they won’t be lecturing through entire class sessions. Most learning will come through the application of new knowledge through coding.
      </p>

      <p class="parragraphs">You’ll work on solo exercises, but you will also work collaboratively in pair programming and in larger teams. Real-world software development is a team sport so it’s essential you learn how to work in a team environment to build and deliver working solutions.
      </p>
    </div>
    
  </div>


  <div class="row padding-bottom-top ">
<!--     <div class="col-md-6">
      <img class="img-responsive" src="/assets/full-time/software-dev2.jpg" alt="">
    </div> -->
    <div class="col-md-12">
      <h1>Why Learn These Skills And Technologies?</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">The C# language and the .NET framework are the centerpieces of Microsoft’s technology stack for application development. When combined with other Microsoft technologies or open source technologies developers have the ability to build a wide variety of applications from web applications to server-side web services to enterprise-scale transaction processing systems using this technology stack.
      </p>

      <p class="parragraphs">This is our newest server-side technology class. These technologies are extensively used in medium to large IT organizations in business, government, education, etc. and are most commonly thought of as enterprise IT-centric technologies. In the Nashville area there are in fact many developer jobs in the IT world that call for familiarity with .NET and C#. However, we also have partner companies that build products and services where C#/.NET are an important portion of the technology stack.
      </p>
    </div>

  </div>
</div>
<br>
<div class="container-fluid orange-bg">
  <div class="container padding-bottom-top">
    <div class="row">
      <div class="col-md-12 no-padding-sides">
        <h1 class="white">What You’ll Learn</h1>
        <hr>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3 class="white">C#</h3>
          <hr>
          <p class="parragraphs white">Learn to write C# (pronounced "C sharp"), an object-oriented programming language designed for building applications that run on the .NET Framework.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">.NET MVC</h3>
          <hr>
          <p class="parragraphs white">Master building applications using Microsoft’s ASP.NET MVC framework.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Visual Studio</h3>
          <hr>
          <p class="parragraphs white">Learn Microsoft’s integrated development environment (IDE). You’ll learn how to take advantage of Visual Studio’s power to become a productive C# Developer.</p>
        </div>
      </div>


      <div class="row">
        <div class="col-md-4">
          <h3 class="white">SQL Databases</h3>
          <hr>
          <p class="parragraphs white">Use the industry-standard SQL language to store and access data from relational databases.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Test-Driven Development</h3>
          <hr>
          <p class="parragraphs white">Well-written code starts with well-written tests. Learn to write tests that help you think through your code, avoid problems, and save collaborators’ time.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Source Code Control</h3>
          <hr>
          <p class="parragraphs white">Learn how to use Git to safely manage and track changes in your code. Learn how to use GitHub to collaborate with other developers on your team or around the world.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h3 class="white">Collaborative Development</h3>
          <hr>
          <p class="parragraphs white">Gain experience working in teams, so you’re ready to work on one when you graduate.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">APIs and Services</h3>
          <hr>
          <p class="parragraphs white">Learn how to expose data using a RESTful API, as well as how to access data via third-party services to make your applications more dynamic.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Capstone</h3>
          <hr>
          <p class="parragraphs white">Leave NSS with a completed C# .NET MVC capstone project that demonstrates your abilities.</p>
        </div>
      </div>
    </div>
  </div>
  
</div>
