<div class="container-fluid front-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">Front-End Development</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-12">
      <h1>Course Overview & Technologies</h1>
    </div>
    <div class="col-md-12 padding-bottom-top">
      <div class="col-md-3" style="display: inline-block;">
        <div class="col-md-4"><img class="technologies" src="/assets/technologies/html5.png" alt="HTML5"></div>
        <div class="col-md-4"><img class="technologies" src="/assets/technologies/css.png" alt="CSS"></div>
        <div class="col-md-4"><img class="technologies" src="/assets/technologies/js.png" alt="JavaScript"></div>
      </div>
      <div class="col-md-3" style="display: inline-block;">
        <div class="col-md-4"><img class="technologies" src="/assets/technologies/angular.png" alt="Angular"></div>
        <div class="col-md-4"><img class="technologies" src="/assets/technologies/coffee.png" alt="Coffee"></div>
        <div class="col-md-4"><img class="technologies" src="/assets/technologies/jquery.png" alt="jQuery"></div>
      </div>
      <div class="col-md-4" style="display: inline-block;">
        <div class="col-md-4"><img class="technologies" src="/assets/technologies/github.png" alt="Github"></div>
        <div class="col-md-4"><img class="technologies" src="/assets/technologies/firebase.png" alt="Firebase"></div>
        <div class="col-md-4"><img class="technologies" src="/assets/technologies/bootstrap_logo.png" alt="Bootstrap"></div>
      </div>
      <div class="col-md-1"><img class="technologies img-responsive" src="/assets/technologies/sass.png" alt="Sass"></div>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">The Front End Development Foundations class is designed for those with limited or no prior technical experience (or for those who may be out-of-date, or self-taught and needing a better technical foundation). If you want to become a software developer, front-end engineer, or web application developer, this is the place to learn what you need to know to start your career.
      </p>

      <p class="parragraphs">This course is an introduction to the standard languages of the web: HTML, CSS and JavaScript. You’ll learn to program using JavaScript—including advanced JavaScript concepts such as object-oriented programming, AJAX, and directly manipulating the DOM in the browser—as well as supporting technologies and frameworks to improve your productivity, such as Bootstrap, SASS, Angular, and others.
      </p>

      <p class="parragraphs">In addition to learning HTML, CSS and Javascript, you will learn the essential development tools of a front-end software engineer including editors, debuggers, testing frameworks/languages, source code control systems, etc. These include tools such as VIM, Chrome Developer Tools, Git and Github, Grunt, and others.
      </p>

      <p class="parragraphs">You will work on solo exercises, but you will also work collaboratively pair programming, and in larger teams. Real-world software development is a team sport so it is essential you learn how to work in a team environment to build and deliver working solutions.
      </p>

      <p class="parragraphs">
        At the end of the class, each student will have the opportunity to identify a personal capstone project that they will develop, test and deploy. We believe that the essential credentials of the professional programmer are the code they have delivered, so all of the code that you create in this class will be visible in your personal GitHub repositories, especially your capstone project.
      </p>
    </div>
    
  </div>


  <div class="row padding-bottom-top ">
<!--     <div class="col-md-6">
      <img class="img-responsive" src="/assets/full-time/software-dev2.jpg" alt="">
    </div> -->
    <div class="col-md-12">
      <h1>Why Learn These Technologies?</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">The core technologies in this class - HTML, CSS and JavaScript are THE standard technologies for anything that runs in a browser. These technologies are used to build and execute the front-ends to all major websites, web applications and even, increasingly, mobile applications. JavaScript is the most widely used programming language in the world. Period. These are also some of the cornerstone open technologies in the world - not controlled by any single vendor and now consistently supported by all major browser vendors.
      </p>

      <p class="parragraphs">At one time a few years ago JavaScript was mainly coded as an adjunct to other programming languages and there were a limited number of JavaScript-focused software engineer positions. That has changed dramatically over the past five or six years with the rise of modern “Web 2.0” and beyond applications. Today, there are many jobs with titles such as Front-end Developer or Web Developer that are centered on using the web standard languages of HTML, CSS and JavaScript. Around Nashville these jobs can be found in web development or marketing agencies, startups, emerging or growth stage tech companies, the IT departments of larger enterprises, etc.
      </p>
    </div>

  </div>
</div>
<br>

<div class="container-fluid no-padding-sides">
  <div class="orange-bg">
    <div class="container padding-bottom-top">
      <div class="row">
        <div class="col-md-12 no-padding-sides">
          <h1 class="white">What You’ll Learn</h1>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3 class="white">HTML5 and CSS3</h3>
            <hr>
            <p class="parragraphs white">Learn how to structure webpages using semantic markup in HTML5 and then style those pages using CSS3.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">JavaScript</h3>
            <hr>
            <p class="parragraphs white">Learn the basics of programming & JavaScript - the world's most widely used programming language. Use JavaScript to extend your static HTML & CSS and create dynamic user experiences.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">AJAX, jQuery, JSON & More</h3>
            <hr>
            <p class="parragraphs white">Learn to use JavaScript libraries and more advanced techniques to build applications and more complex single-page web apps.</p>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4">
            <h3 class="white">AngularJS</h3>
            <hr>
            <p class="parragraphs white">Learn the leading front-end framework and build amazing single-page applications.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">Responsive Design</h3>
            <hr>
            <p class="parragraphs white">Well-written code starts with well-written tests. Learn to write tests that help you code and master testing tools such as Mocha, Chai, TravisCI and Coveralls.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">Command Line & More</h3>
            <hr>
            <p class="parragraphs white">Work faster. Use the terminal without fear. Learn shortcuts, how to use your editor like a ninja, and other developer tools to create a professional, streamlined environment.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h3 class="white">Source Code Control</h3>
            <hr>
            <p class="parragraphs white">Learn how to use Git to safely manage and track changes in your code. Learn how to use GitHub to collaborate with other developers on your team or around the world.</p>
          </div>
      
          <div class="col-md-4">
            <h3 class="white">Collaborative Development</h3>
            <hr>
            <p class="parragraphs white">Gain experience working in teams, so you’re ready to work on one when you graduate.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">Testing & Debugging</h3>
            <hr>
            <p class="parragraphs white">Learn how to test your front-end code using testing tools & frameworks such as Q-Unit, Mocha, Chai, Travis CI, Karma, etc.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
