<div class="container-fluid ruby-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">IOS Development Fast Track  </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-12">
      <h1>Overview</h1>
      <hr>
      <h1 class="orange">What You'll Learn</h1>
    </div>
    <div class="col-md-6">
      <p class="parragraphs">
Do you want to add Apple’s iOS platform and the Swift and Objective-C languages to your professional tool kit? Need to keep your career moving forward by building your skills in mobile development? Our evening intensive introduction to iOS development is what you need to upgrade your skills and expand your career options. Come learn iOS development, as well as the Apple Human Interface Guidelines (the HIG) and Apple App Store submission requirements and process.
      </p>
    </div>
    <div class="col-md-6">
      <ul>
        <li><p class="parragraphs">Learn to write, compile, test, debug, and instrument iOS Apps</p></li>
        <li><p class="parragraphs">Develop familiarity with the Apple development toolchain and it’s open source extensions (git, cocoapods, KIF).</p></li>
        <li>
          <p class="parragraphs">Gain Understanding of the Apple Human Interface Guidelines (the HIG) and Apple App Store submission requirements and process.</p>
        </li>
        <li>
          <p class="parragraphs">Learn (in the iOS context) Object-Oriented Programming, UI Design, Multimedia/Graphics, Animation, Multithreading, Networking, Database Processing and Security.</p>
        </li>
        <li>
          <p class="parragraphs">Final project, to be chosen by student and approved by teacher, should go in depth on some subset of the technologies taught in class.</p>
        </li>
      </ul>
    </div>
  </div>


  <div class="row padding-bottom-top">

    <div class="col-md-12">
      <h1>Why Learn These Skills And Technologies?</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">The Ruby programming language and the Rails framework combine to provide a highly productive and powerful way to build and deploy database-oriented web applications. The power and speed of this combination, and the fact that this technology stack is open source technology, has resulted in Ruby on Rails becoming one of the most widely-used technologies for building web applications over the past ten years.
      </p>

      <p class="parragraphs">This was the first server-side technology that we taught at NSS because we had many partners using the technology or who were happy to take developers trained in Ruby on Rails and move them to using other web development languages such as PHP and Python. We continue to have many partners using Ruby on Rails. Jobs for Ruby on Rails developers are found most commonly at agencies and consultancies the build web applications, at tech startups, at later stage tech companies and in the IT departments of a few larger organizations that value the ability to rapidly build and evolve their own home-grown web applications.
      </p>
    </div>
    
  </div>
</div>
<br>
<div class="container-fluid no-padding-sides">
  <div class="orange-bg">
    <div class="container padding-bottom-top">
      <div class="row">
        <div class="col-md-12">
          <h1 class="white">Requirements</h1>
          <hr>
        </div>
        <div class="col-md-6">
          <h3 class="white">Hardware & Software</h3>
          <hr>
          <ul>
            <li>
              <p class="parragraphs">Apple Developer Account ($99/year)</p>
            </li>
            <li>
              <p class="parragraphs">Mac OS X machine running Mavericks or above (10.9)</p>
            </li>
            <li>
              <p class="parragraphs">iOS device capable running at least iOS 8</p>
            </li>
            <li>
              <p class="parragraphs">Personal Laptop with 4 GB RAM and at least 20GB free disk space</p>
            </li>
            <li>
              <p class="parragraphs">Accounts with <a href="http://www.github.com" class="white">GitHub</a> and <a href="https://itunes.apple.com/us/app/testflight/id899247664?mt=8" class="white">TestFlightApp.com</a></p>
            </li>
            <li>
              <p class="parragraphs">Reading: <a href="https://itunes.apple.com/us/book/swift-programming-language/id881256329?mt=11" class="white">The Swift Programming Language</a></p>
            </li>
            <li>
              <p class="parragraphs">A git client, <a href="https://www.git-tower.com/" class="white">Tower</a> or <a href="https://www.sourcetreeapp.com/" class="white">SourceTree</a> are both recommended</p>
            </li>

            <li>
              <p class="parragraphs">Additional Optional Reading: <a href="http://www.amazon.com/Functional-Programming-Swift-Chris-Eidhof/dp/3000480056" class="white">Functional Programming in Swift</a>, <a href="https://itunes.apple.com/us/book/using-swift-cocoa-objective/id888894773?mt=11" class="white">Using Swift with Cocoa and Objective-C</a></p>
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <h3 class="white">Skills</h3>
          <hr>
          <ul>
            <li>
              <p class="parragraphs">Prior experience as a developer in a modern programming language (PHP, Java, Ruby, C#, Python, etc.)</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapsefour" aria-expanded="true" aria-controls="collapseOne">
          Collapsible Group Item #1
        </a>
      </h4>
    </div>
    <div id="collapsefour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <div class="panel-heading" role="tab" id="headingOne">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h1 class="orange">SECTION 1: ELEMENTS OF AN IOS APP AND THE APPLE TOOLCHAIN</h1>
        </a>
      </div>
      <hr>
      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <p class="parragraphs">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
        </div>
      </div>

      <div class="panel-heading" role="tab" id="headingTwo">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h1 class="orange">Collapsible Group Item #2</h1>
        </a>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <p class="parragraphs">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </div>

      <div class="panel-heading" role="tab" id="headingThree">
        
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h1 class="orange">Collapsible Group Item #2</h1>
        </a>
        
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <p class="parragraphs">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
        </p>
      </div>

    </div>
  </div>
</div>
