<div class="container-fluid python-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">Python And Django</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-12">
      <h1>Course Overview & Technologies</h1>
    </div>
    <div class="col-md-9 padding-bottom-top">
      <div class="col-md-3"><img class="technologies" src="/assets/technologies/python.png" alt="Python"></div>
      <div class="col-md-3"><img class="technologies" src="/assets/technologies/django.png" alt="Django"></div>
      <div class="col-md-3"><img class="technologies" src="/assets/technologies/github.png" alt="Github" style="max-width: 60px;"></div>
      
    </div>
    <div class="col-md-12">
      <p class="parragraphs">The Python & Django Software Development Foundations course is one of four options for completing our Web Developer Bootcamp. All four courses cover the essentials of developing the server-side code that is an integral component of modern web and mobile applications. Upon completion of this course students are ready to design, code, test and deploy a fully-functional web service or the server-side code for a web application.
      </p>

      <p class="parragraphs">This class is designed for students who have completed the Front-end Development Foundations class that starts our bootcamp but who otherwise have limited or no prior technical experience. This course completes your training as a full-stack software developer. You’ll learn Python - one of the most widely used modern object-oriented programming languages, Django - a highly productive application development framework, and a range of supporting and related technologies. You will also be introduced to database management, test-driven development, agile methods, and other key concepts that will help accelerate your entry into a career in software development.
      </p>

      <p class="parragraphs">Like all of our Bootcamp classes, this class is designed around hands-on learning by doing. Our instructors and guest lecturers are all experienced professional developers - they’ll introduce new technical material to the class and they will demonstrate how to apply new concepts through live-coding exercises. They’ll review and provide feedback on student code and most learning will come through the application of new knowledge through coding.
      </p>
    </div>
    
  </div>


  <div class="row padding-bottom-top">
<!--     <div class="col-md-6">
      <img class="img-responsive" src="/assets/full-time/software-dev2.jpg" alt="">
    </div> -->
    <div class="col-md-12">
      <h1>Why Learn These Skills And Technologies?</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">The Python programming language and the Django framework combine to provide a highly productive and powerful way to build and deploy database-oriented web applications. The power and speed of this combination, and the fact that this technology stack is open source, has resulted in Python & Django becoming one of the most common technologies for building web applications over the past ten years.
      </p>

      <p class="parragraphs">Python is widely used in web application development, analytics and data science, and several other problem domains. Jobs for Python developers are found at agencies and consultancies that build web applications, at tech startups, and at later stage tech companies. It can also be found, somewhat less commonly in Nashville, in IT departments of a few larger organizations that value the ability to rapidly build and evolve their own home-grown web applications or that are using Python for data analytics/data science applications.
      </p>
    </div>
    
  </div>
</div>
<br>
<div class="container-fluid no-padding-sides">
  <div class="orange-bg">
    <div class="container padding-bottom-top">
      <div class="row">
        <div class="col-md-12">
          <h1 class="white">What You’ll Learn</h1>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <h3 class="white">The Python Language</h3>
          <hr>
          <p class="parragraphs white">Learn object-oriented programming with Python, one of the most expressive and elegant programming languages.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Django</h3>
          <hr>
          <p class="parragraphs white">Dig in with Django, one of the most popular frameworks for rapidly creating web applications using Python.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Batteries Included</h3>
          <hr>
          <p class="parragraphs white">Leverage the power of the Python Standard Library, and the wealth of third party packages available in the open source Python ecosystem.</p>
        </div>

      </div>

      <div class="row">
        <div class="col-md-4">
          <h3 class="white">SQL Databases</h3>
          <hr>
          <p class="parragraphs white">Use the industry-standard SQL language to store and access data from relational databases.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Test-Driven Development</h3>
          <hr>
          <p class="parragraphs white">Well-written code starts with well-written tests. Learn to write tests that help you code and master testing tools such as PyUnit.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Source Code Control</h3>
          <hr>
          <p class="parragraphs white">Learn how to use Git to safely manage and track changes in your code. </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h3 class="white">Collaborative Development</h3>
          <hr>
          <p class="parragraphs white">Gain experience working in teams, so you’re ready to work on one when you graduate. Learn how to use GitHub to collaborate with other developers on your team or around the world.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">APIs and Services</h3>
          <hr>
          <p class="parragraphs white">Learn how to expose data using a RESTful API, as well as how to access data via third-party services to make your applications more dynamic.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Capstone</h3>
          <hr>
          <p class="parragraphs white">Leave NSS with a completed full-stack capstone project that demonstrates your ability to design, code, test, and deploy working web apps.</p>
        </div>
      </div>
    </div>
  </div>
</div>
