<div class="container-fluid ruby-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">Ruby on Rails</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-12">
      <h1>Course Overview & Technologies</h1>
    </div>
    <div class="col-md-12 padding-bottom-top" >
      <div class="col-md-3" style="display: inline-block;"><img class="technologies" src="/assets/technologies/ruby.png" alt="Ruby"></div>
      <div class="col-md-3" style="display: inline-block;"><img class="technologies" src="/assets/technologies/rails.png" alt="Rails"></div>
      <div class="col-md-3" style="display: inline-block;"><img class="technologies" src="/assets/technologies/github.png" alt="Github"></div>
      <div class="col-md-3" style="display: inline-block;"><img class="img-responsive" src="/assets/technologies/rspec.png" alt="Rspec"></div>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">The Ruby on Rails Software Development Foundations course is one of three options for completing our Web Developer Bootcamp. All three courses cover the essentials of developing the server-side code that is an integral component of modern web and mobile applications. On completion of this course students are ready to design, code, test and deploy a fully-functional web service or the server-side code for a web application.
      </p>

      <p class="parragraphs">This class is designed for students who have completed the Front-end Development Foundations class that starts our bootcamp but who otherwise with limited or no prior technical experience. This course completes your training as a full-stack software developer. You’ll learn Ruby - one of the most widely used modern object-oriented programming languages, Rails - a highly productive application development framework, and a wide range of supporting and related technologies. You will also be introduced to database management, test-driven development, agile methods, and other key concepts that will help accelerate your entry into a career in software development.
      </p>

      <p class="parragraphs">Like all of our Bootcamp classes, this class is designed around hands-on learning by doing. Our instructors and guest lecturers are all experienced professional developers - they’ll introduce new technical material to the class and they will demonstrate how to apply new concepts through live-coding exercises. They’ll review and provide feedback on student code and most learning will come through the application of new knowledge through coding.
      </p>
    </div>
    
  </div>


  <div class="row padding-bottom-top">
<!--     <div class="col-md-6">
      <img class="img-responsive" src="/assets/full-time/software-dev2.jpg" alt="">
    </div> -->
    <div class="col-md-12">
      <h1>Why Learn These Skills And Technologies?</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">The Ruby programming language and the Rails framework combine to provide a highly productive and powerful way to build and deploy database-oriented web applications. The power and speed of this combination, and the fact that this technology stack is open source technology, has resulted in Ruby on Rails becoming one of the most widely-used technologies for building web applications over the past ten years.
      </p>

      <p class="parragraphs">This was the first server-side technology that we taught at NSS because we had many partners using the technology or who were happy to take developers trained in Ruby on Rails and move them to using other web development languages such as PHP and Python. We continue to have many partners using Ruby on Rails. Jobs for Ruby on Rails developers are found most commonly at agencies and consultancies the build web applications, at tech startups, at later stage tech companies and in the IT departments of a few larger organizations that value the ability to rapidly build and evolve their own home-grown web applications.
      </p>
    </div>
    
  </div>
</div>
<br>
<div class="container-fluid no-padding-sides">
  <div class="orange-bg">
    <div class="container padding-bottom-top">
      <div class="row">
        <div class="col-md-12">
          <h1 class="white">What You’ll Learn</h1>
          <hr>
        </div>
        <div class="col-md-4">
          <h3 class="white">The Ruby Language</h3>
          <hr>
          <p class="parragraphs white">Learn object-oriented programming with Ruby, one of the most expressive and elegant programming languages.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Ruby on Rails</h3>
          <hr>
          <p class="parragraphs white">Dig in with Ruby on Rails, one of the most popular frameworks for rapidly creating web applications.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Gems</h3>
          <hr>
          <p class="parragraphs white">Leverage the wealth of Ruby gems—prewritten, distributed Ruby programs designed to work with other applications—available in the open-source ecosystem.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">SQL Databases</h3>
          <hr>
          <p class="parragraphs white">Use the industry-standard SQL language to store and access data from relational databases.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Test-Driven Development</h3>
          <hr>
          <p class="parragraphs white">Well-written code starts with well-written tests. Learn to write tests that help you code and master testing tools such as Rspec, Capybara, and MiniTest.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Source Code Control</h3>
          <hr>
          <p class="parragraphs white">Learn how to use Git to safely manage and track changes in your code. Learn how to use GitHub to collaborate with other developers on your team or around the world.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Collaborative Development</h3>
          <hr>
          <p class="parragraphs white">Gain experience working in teams, so you’re ready to work on one when you graduate.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">APIs and Services</h3>
          <hr>
          <p class="parragraphs white">Learn how to expose data using a RESTful API, as well as how to access data via third-party services to make your applications more dynamic.</p>
        </div>

        <div class="col-md-4">
          <h3 class="white">Capstone</h3>
          <hr>
          <p class="parragraphs white">Leave NSS with a completed full-stack Ruby on Rails capstone project that demonstrates your abilities.</p>
        </div>
      </div>
    </div>
  </div>
</div>
