<div class="container-fluid ux-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">UI And UX For Digital Product Design  </h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-12">
      <h1>Overview</h1>
      <hr>
      <h1 class="orange">What You'll Learn</h1>
    </div>
    <div class="col-md-6">
      <p class="parragraphs">
Want an opportunity to think big about products, design user experiences, build product experiments, collaborate with brilliant designers and engineers, and see your product change the lives of millions of people?
      </p>

      <p class="parragraphs">
        This workshop gives a practical, hands-on introduction to Interaction Product Design and UX principles and processes, including introductory front-end development that can be immediately applied on-the-job.
      </p>

      <h2 style="font-weight: bold;">Target Student</h2>

      <p class="parragraphs">
        Professionals looking to add Interaction Product Design, UI Design, UX Design, Front-End Development as an additional skill. Graphic designers, creative directors, entrepreneurs, project managers, product managers, designers, developers. Individuals looking to enter the world interaction product world professionally or to apply the skills to current job/dream.
      </p>

      <p class="parragraphs">
        If you don’t have background in graphic design, UX, or web development, we will have some simple pre-requisites to get you ready.
      </p>

      <p class="parragraphs">
        There are few, if any industries out there do NOT have interactive digital products, environments, systems, and services: music, healthcare, transportation, education, entertainment, cable TV, publishing.
      </p>
    </div>
    <div class="col-md-6">
      <ul class="parragraphs">

        <li>Capturing and keeping customers</li>

        <li>Basic principles of interaction design</li>

        <li>Learn how to translate graphic design to the web</li>

        <li>Basics how HTML &amp; CSS</p></li>

        <li>“Fast, efficient, and enough” prototyping</li>

        <li>Presenting and defending your ideas to clients and co-workers</li>

        <li>Project planning and estimating</li>

        <li>How to troubleshoot layout and code problems</li>

        <li>Hiring the right person/company for the job</li>

      </ul>
      
    </div>
  </div>
</div>
<br>
<div class="container-fluid no-padding-sides">
  <div class="orange-bg">
    <div class="container padding-bottom-top">
      <div class="row">
        <div class="col-md-12">
          <h1 class="white">Requirements</h1>
          <hr>
        </div>
        <div class="col-md-6">
          <h3 class="white">Hardware & Software</h3>
          <hr>
          <ul class="white parragraphs">
            <li>
              Laptop with browser
            </li>
            <li>
              Paper and pen/pencil for note taking and sketching
            </li>
          </ul>
        </div>

        <div class="col-md-6">
          <h3 class="white">Skills</h3>
          <hr>
          <ul class="parragraphs white">
            <li>
              No prior technical training or web development experience is required. We do however assume some design knowledge and experience. Pre-class material will be provided for anyone without visual and/or product design experience to get you “up-to-speed.”
            </li>

            <li>
              Solid written and verbal communications skills
            </li>

            <li>
              Basic computer skills and proficiency. You should know how to use common applications such as word processing, spreadsheets, and have familiarity using the internet.
            </li>

            <li>
              High school diploma or the equivalent
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- ACORDION  line 111-582 -->

<div class="container">
  <div class="row padding-bottom-top">
    <h1>Syllabus</h1>
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    

      <div class="panel-heading" role="tab" id="headingOne">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <h3>Fundamentals</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
        <h4 style="font-weight: bold;">2 Hours</h4>
        <ul class="parragraphs">
          <li>What is Design?</li>
          <li>UX is not UI</li>
          <li>User Centered Design</li>
          <li>Tools &amp; Terms</li>
        </ul>
        <hr class="greyHr">
      </div>


      <!-- TAB #2 -->

      <div class="panel-heading" role="tab" id="headingTwo">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h3>Customer and User Research</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <h4 style="font-weight: bold;">4 Hours</h4>
        <ul class="parragraphs">
          <li>What's the Problem?</li>
          <li>Research Methods & Analytics</li>
          <li>Personas & Journeys</li>
          <li>Competitor Analysis</li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #3 -->

      <div class="panel-heading" role="tab" id="headingThree">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h3>Storrytelling & Information Architectures</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
        <h4 style="font-weight: bold;">3 Hours</h4>
        <ul class="parragraphs">
          <li>Presenting (& Defending) Findings</li>
          <li>Elevator Speech</li>
          <li>Gap Analysis/SWOT</li>
          <li>Prioritize Features</li>
          <li>Science of Categorizing</li>
          <li>User Flows</li>
          <li>Navigation</li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #4 -->

      <div class="panel-heading" role="tab" id="headingFour">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <h3>Wireframes & Prototypes</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
        <h4 style="font-weight: bold;">6 Hours</h4>
        <ul class="parragraphs">
          <li>Wireframes</li>
          <li>Rapid Prototyping</li>
          <li>Page Layout</li>
          <li>Evaluating Designs</li>
          <li>MVPs</li>
          <li>Tool options and tool selection for wireframes and prototypes</li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #5 -->

      <div class="panel-heading" role="tab" id="headingFive">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          <h3>Best Practices</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
        <h4 style="font-weight: bold;">2 Hours</h4>
        <ul class="parragraphs">
          <li>Patterns</li>
          <li>Forms</li>
          <li>Search & Results</li>
          <li>Catalogs</li>
          <li>Cross-Platform Consistency</li>
          <li>Usability Testing</li>
          <li>Accessibility</li>
        </ul>

        <hr class="greyHr">
      </div>


      <!-- TAB #6 -->

      <div class="panel-heading" role="tab" id="headingSix">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
          <h3>Visual Design</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
        <h4 style="font-weight: bold;">7 Hours</h4>
        <ul class="parragraphs">
          <li>Graphic Design basics</li>
          <li>Color Theory</li>
          <li>Page Layout</li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #7 -->

      <div class="panel-heading" role="tab" id="headingSeven">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
          <h3>HTML & CSS</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
        <h4 style="font-weight: bold;">9 Hours</h4>
        <ul class="parragraphs">
          <li>Fundamentals of HTML</li>
          <li>CSS Selectors</li>
          <li>CSS Positioning</li>
          <li>Using frameworks (e.g. Bootstrap, etc.)</li>
        </ul>

        <hr class="greyHr">
      </div>

      <!-- TAB #8 -->

      <div class="panel-heading" role="tab" id="headingEight">
        <a class="collapsed orangeTwo" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          <h3>Product Management & Wrap-Up</h3>
        </a>
      </div>
      <hr class="greyHr">
      <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
        <h4 style="font-weight: bold;">3 Hours</h4>
        <ul class="parragraphs">
          <li>Final Project Presentations with panel</li>
        </ul>

        <hr class="greyHr">
      </div>
    </div>
  </div>
</div>

<div class="container-fluid class-info">
  <div class="container">
    <div class="row padding-bottom-top">

      <div class="col-md-3">
        <div class="col-md-6 center-block">
          <i class=" fa fa-clock-o" aria-hidden="true"></i>
        </div>
        <h3 class="text-center white">Schedule</h3>
        <p class="parragraphs white text-center">
          Tuesday & Wednesday <br> 6PM - 9PM
        </p>
      </div>

      <div class="col-md-3">
        <div class="col-md-4 center-block">
          <i class="fa fa-map-marker" aria-hidden="true"></i>
        </div>
        <h3 class="text-center white">Location</h3>
        <p class="parragraphs white text-center">
          500 Interstate Blvd S, Suite 300
          Nashville, TN 37210
        </p>
      </div>

      <div class="col-md-3">
        <div class="col-md-6 center-block">
          <i class="fa fa-calendar" aria-hidden="true"></i>
        </div>
        <h3 class="text-center white">Dates</h3>
        <p class="parragraphs white text-center">
          To be determined -
        </p>
      </div>

      <div class="col-md-3">
        <div class="col-md-6 center-block">
          <i class="fa fa-money" aria-hidden="true"></i>
        </div>
        <h3 class="text-center white">Tuition</h3>
        <p class="parragraphs white text-center">
          $2,500
        </p>
      </div>

    </div>
  </div>
</div>

Instructor Goes Here



