<header>
  <div class="container">
      <div class="intro-text">
          <h3 class="intro-p"> <span style="color: #fe9a22">Nashville Software School (NSS)</span> is a place where a person with aptitude, motivation, passion and commitment can learn the craft of software development. Our intensive training and apprenticeship program dramatically accelerates learning about and access to the world of programming. Give us six months and we’ll prepare you for a job as a junior-level web developer.</h3>
          <br>
          <a href="#services" class="page-scroll btn btn-apply">Apply Now</a>
      </div>
  </div>
</header>

<!-- <div class='container-fluid'>
  <div class="col-md-8 center-block intro-p-column">
    
    <br>
    <a href="#" class="btn btn-default btn-apply">Apply Now</a>
  </div>
</div>
 -->
<!-- VIDEO "CHANGE YOUR LIFE" -->

<div class="container">
  <div class="row">
    <div class="col-md-12 video">

      <div class="col-md-6">
        <p style="color: #fff; font-size: 40px; padding-top: 40px;"><span style="color: #C591EF;">YOU</span> = { <span style="color: #ef482c;">:old_job</span> => <span style="color: #fe9a22">"chemist",</span>
               <span style="color: #ef482c;">:new_job</span> => <span style="color: #fe9a22">"software developer"</span> }</p>
      </div>
      <div class="col-md-6 video-box">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/XZiska--wX0?modestbranding=1&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 parr-section">
      <h1>What Makes NSS Different From Other Bootcamps</h1>
      <br>
      <p class="parragraphs">Our Programs. Our People.</p>
      <br>
      <p class="parragraphs">
        NSS has been named a premier coding school in the South. We take pride in being the first to introduce the bootcamp model in Nashville, and we are committed to our mission of homegrowing a talent pool in the local tech industry. Our programs and community engagement have helped to shift the tide of the local tech community.
        <br><br>
        We offer three main program types: Full-time web developer bootcamps, part-time web developer bootcamps, and professional development courses. Our curriculum is built commaboratively with partner employers to ensure that our students are learning the latest tools, frameworks, and best practices used by engineering teams in the local marketplace.
      </p>
    </div>
  </div>
</div>


<!-- FULL TIME | PART TIME | PROFESSIONAL DEVELOPMENT
Background images with small description view more btn -->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 full-time-bg">
      <div class="container">
        <div class="col-md-5">
          <div class="col-md-12">
            <h1 class="programs-bg-heading">Full Time Bootcamp</h1>
          </div>
          <div class="col-md-6">
            <a href="<%= programs_full_time_path %>" class="btn btn-view-more">View More</a>
          </div>
        </div>

        <div class="col-md-6 col-md-offset-1">
          <p class="programs-bg-p">This bootcamp is the ultimate challenge on the road to a new career as a programmer. It’s intense—as in five days per week, hands-on, writing lots of code. There are regular individual and group projects, and the daily introduction of new material and best practices. It’s a fast-moving and rigorous journey where you will learn a lot about programming and, coincidentally, about yourself...</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 part-time-bg">
      <div class="container">
        <div class="col-md-6">
          <p class="programs-bg-p">The Evening Developer Bootcamp covers the same curriculum as our six month full-time immersion program. However, it is structured in a flexible, part-time evening and weekend format over the course of twelve months. You also have the option to accelerate your graduation by switching to the full-time program for the second half of the curriculum....</p>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <div class="col-md-12">
            <h1 class="programs-bg-heading">Part Time Bootcamp</h1>
          </div>
          <div class="col-md-6">
            <a href="<%= programs_part_time_path %>" class="btn btn-view-more">View More</a>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 professional-bg">
      <div class="container">
        <div class="col-md-6">
          <div class="col-md-12">
            <h1 class="programs-bg-heading">Professional Development</h1>
          </div>
          <div class="col-md-6">
            <a href="<%= programs_professional_development_path %>" class="btn btn-view-more">View More</a>
          </div>
        </div>

        <div class="col-md-6">
          <p class="programs-bg-p">This bootcamp is the ultimate challenge on the road to a new career as a programmer. It’s intense—as in five days per week, hands-on, writing lots of code. There are regular individual and group projects, and the daily introduction of new material and best practices. It’s a fast-moving and rigorous journey where you will learn a lot about programming and, coincidentally, about yourself...</p>
        </div>
      </div>
    </div>
  </div>

</div>

<!-------------------- NSS NEWSLETTER FORM -------------------->

<div class="container">
  <div class="row">
    <div class="col-md-12 newsletter">
      <div class="col-md-6">
        <h1>Sign Up for NSS Newsletter</h1>
      </div>
      <div class="col-md-4 news-form">
        <input type="email" class="form-control " id="email-news" placeholder="Email">
      </div>
      <div class="col-md-2 news-form">
        <button type="submit" class="btn btn-default news-btn">Sign Up</button>
      </div>
    </div>
  </div>
</div>


<!-- NSS TN GOV -->

<div class="container-fluid gov">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="gov-p">Nashville Software School is authorized by the <a class="gov-p" href="https://www.tn.gov/thec/">Tennessee Higher Education Commission.</a> This authorization must be renewed each year and is based on an evaluation by minimum standards concerning quality of education, ethical business practices, health and safety, and fiscal responsibility.</p>
      </div>
    </div>
  </div>
</div>




