<header>
  <div class="container">
      <div class="intro-text">
          <h3 class="intro-p"> <span style="color: #fe9a22">Nashville Software School (NSS)</span> is a place where a person with aptitude, motivation, passion and commitment can learn the craft of software development. Our intensive training and apprenticeship program dramatically accelerates learning about and access to the world of programming. Give us six months and we’ll prepare you for a job as a junior-level web developer.</h3>
          <br>
          <a href="#services" class="page-scroll btn btn-apply">Apply Now</a>
      </div>
  </div>
</header>

<!-- <div class='container-fluid'>
  <div class="col-md-8 center-block intro-p-column">
    
    <br>
    <a href="#" class="btn btn-default btn-apply">Apply Now</a>
  </div>
</div>
 -->
<!-- VIDEO "CHANGE YOUR LIFE" -->

<div class="container">
  <div class="row">
    <div class="col-md-12 video">

      <div class="col-md-6">
        <p style="color: #fff; font-size: 40px; padding-top: 40px;"><span style="color: #C591EF;">YOU</span> = { <span style="color: #ef482c;">:old_job</span> => <span style="color: #fe9a22">"chemist",</span>
               <span style="color: #ef482c;">:new_job</span> => <span style="color: #fe9a22">"software developer"</span> }</p>
      </div>
      <div class="col-md-6 video-box">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/XZiska--wX0?modestbranding=1&showinfo=0&autohide=1" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>