<div class="container-fluid pro-dev-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">Professional Development Bootcamp</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    
    <div class="col-md-12">
      <h1>Career Enhancement For Working Developers</h1>
    </div>
    <div class="col-md-6">
      <p class="parragraphs">One constant for software development professionals is the need to continue to develop new skills and learn new technologies. It is truly a career that demands a focus on life-long learning.</p>
      <p class="parragraphs">During 2015 Nashville Software School began offering a series of seminars, classes, and workshops aimed at helping our graduates, and other professional developers in the area, acquire the knowledge that they need to continue to grow and advance in their careers.</p>
      <p class="parragraphs">Our goal with the Professional Development Series is to engage highly skilled working professionals in Nashville to share their knowledge and experience with the rest of the local technical community. The amazing user group ecosystem in Nashville provides opportunities for “small dose” learning but our longer form seminars, workshops and classes provide a platform for more in­depth exploration of new technologies, methodologies and concepts.</p>
    </div>
    <div class="col-md-4">
      <img class="img-responsive" src="assets/pro-dev/teaching.jpg" alt="">
    </div>


    <div class="col-md-12">
      <h1 class="orange">EXPAND YOUR SKILLS AND EXPERTISE</h1>
      <p class="parragraphs">Our goal with the Professional Development Series is to engage highly skilled working professionals in Nashville to share their knowledge and experience with the rest of the local technical community. The amazing user group ecosystem in Nashville provides opportunities for “small dose” learning but our longer form seminars, workshops and classes provide a platform for more in-depth exploration of new technologies, methodologies and concepts.</p>

      <p class="parragraphs">
        Overall, the professional development series provides a platform for employers to invest in the careers and skill development of their technical team members. In fact, a significant percentage of students in this class had tuition reimbursement from their respective employers.
      </p>

    </div>


    <div class="col-md-12">
      <h1 class="orange">UPCOMING COURSES</h1>
      <p class="parragraphs">The professional development series will continue with the next installment of the popular iOS Development Fast Track. We also have added UI/UX for Digital Product Design, a new course in the professional development series. Details are below.</p>
    </div>
  </div>
</div>


<div class="container-fluid no-padding-sides">
  <div class="orange-bg">
    <div class="container padding-bottom-top">
      <div class="row">
        <div class="col-md-6">
          <h1 class="white">iOS Development Fast Track</h1>
          <p class="parragraphs white">Do you want to add Apple's iOS platform and the Swift language to your professional tool kit? Need to keep your career moving forward by building your skills in mobile development? Our evening intensive introduction to iOS development is what you need to upgrade your skills and expand your career options. Come learn iOS development, as well as the Apple Human Interface Guidelines (the HIG) and Apple App Store submission requirements and process.</p>
          <a href="" class="btn-default btn btn-faq">Learn More</a>
          <a href="" class="btn-default btn btn-faq">Apply Now</a>
        </div>

        <div class="col-md-6">
          <h1 class="white">UI/UX for Digital Product Design</h1>
          <p class="parragraphs white">Want an opportunity to think big about products, design user experiences, build product experiments, collaborate with brilliant designers and engineers, and see your product change the lives of millions of people? This workshop gives a practical, hands-on introduction to Interaction Product Design and UX principles and processes, including introductory front-end development that can be immediately applied on-the-job.</p>
          <a href="" class="btn-default btn btn-faq">Learn More</a>
          <a href="" class="btn-default btn btn-faq">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</div>