<div class="container-fluid full-time-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">Full Time Bootcamp</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-6">
      <img class="img-responsive" src="assets/software-dev2.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h1>Become A Software Engineer</h1>
    </div>
    <div class="col-md-6">
      <p class="parragraphs">So you’re thinking about taking the 
deep dive into development? 
Looking for a career change or 
professional kickstart? Redirect your
 life’s path by learning developer 
tools and web technologies at NSS. 
The Web Developer Bootcamp is a 
six-month, full-time program 
designed for those ready to go all in. The curriculum teaches the skills and technologies required to become a full-stack software developer.</p>
    </div>
    
  </div>

  <div class="row program-content">
    <div class="col-md-12">
      <h1>Learn Code With Total Immersion Training</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">This bootcamp is the ultimate challenge on the road to a new career as a programmer. It’s intense—as in five days per week, hands-on, writing lots of code. There are regular individual and group projects, and the daily introduction of new material and best practices. It’s a fast-moving and rigorous journey where you will learn a lot about programming and, coincidentally, about yourself.
      </p>
      <p class="parragraphs">
      The Web Developer Bootcamp is an intellectually stimulating, horizon broadening, energizing, and fun experience. Students emerge with the skills necessary to build ideas from concept to production. By the end of the program, you will find yourself prepared for an entry-level software developer position.</p>
    </div>
  </div>
</div>