<div class="container-fluid mean-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">JavaScript and Node.JS</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-12">
      <h1>Course Overview & Technologies</h1>
    </div>
    <div class="col-md-12 padding-bottom-top">
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/mongo.png" alt="Mongo"></div>
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/express.png" alt="Express.js"></div>
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/js.png" alt="JavaScript"></div>
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/angular.png" alt="Angular"></div>
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/ajax.png" alt="Ajax"></div>
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/node2.png" alt="Node"></div>
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/atom.png" alt="Atom"></div>
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/github.png" alt="Github" style="max-width: 60px;"></div>
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/grunt.png" alt="Grunt"></div>
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/mocha.png" alt="Mocha"></div>
      <div class="col-md-1"><img class="img-responsive" src="/assets/technologies/chai.png" alt="Chai"></div>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">This course is one of three options for completing our Web Developer Bootcamp. All three courses cover the essentials of developing the server-side code that is an integral component of modern web and mobile applications. On completion of this course students are ready to design, code, test, and deploy a fully-functional web service or the server-side code for a web application. This class is designed for students who have completed the Front-end Development Foundations class that starts our bootcamp but who otherwise with limited or no prior technical experience. This course completes your training as a full-stack software developer.
      </p>

      <p class="parragraphs">You’ll learn the key features and capabilities of Javascript and the MEAN stack and a server-side software development technology stack. This includes advanced JavaScript concepts, Node.js - a server platform supporting the deployment of server-side code built in JavaScript, ExpressJS - a lightweight and flexible Node.js web application framework, and a wide range of supporting and related technologies. You will also be introduced to SQL and NoSQL database management, test-driven development, agile methods, and other key concepts and tools that will help accelerate your entry into a career in software development.
      </p>

      <p class="parragraphs">Like all of our Bootcamp classes, this class is designed around hands-on learning by doing. Our instructors and guest lecturers are all experienced professional developers - they’ll introduce new technical material to the class, they will demonstrate how to apply new concepts through live-coding exercises, they’ll review and provide feedback on student code and otherwise be highly engaged in the class, but they won’t be lecturing through entire class sessions. Most learning will come through the application of new knowledge through coding.
      </p>

      <p class="parragraphs">You’ll work on solo exercises, but you will also work collaboratively in pair programming and in larger teams. Real-world software development is a team sport so it’s essential you learn how to work in a team environment to build and deliver working solutions.
      </p>
    </div>
    
  </div>


  <div class="row padding-bottom-top ">
<!--     <div class="col-md-6">
      <img class="img-responsive" src="/assets/full-time/software-dev2.jpg" alt="">
    </div> -->
    <div class="col-md-12">
      <h1>Why Learn These Skills And Technologies?</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">In the last two or three years we’ve seen rapid adoption of JavaScript as a server-side language enabled by the emergence of Node.js. This now offers the opportunity to build the front-end and back-end of web applications using the same language, JavaScript, and elements of a common technology stack. Accompanying this trend has been the widespread adoption of the rest of the “MEAN” stack: MongoDB, ExpressJS, AngularJS along with Node.js. This has further accelerate the growth in JavaScript Engineer positions.
      </p>

      <p class="parragraphs">One striking thing about the emergence of server-side JavaScript and the MEAN stack is that it is being embraced by development teams from web agencies and digital marketing firms to tech startups to enterprise IT organizations. It cuts across many traditional boundaries in terms of who uses what technologies. We have seen our students trained in these technologies hired by everyone from newly launched tech startups to the largest health-care IT shop in Nashville.
      </p>
    </div>

  </div>
</div>
<br>
<div class="container-fluid no-padding-sides">
  <div class="orange-bg">
    <div class="container padding-bottom-top">
      <div class="row">
        <div class="col-md-12 no-padding-sides">
          <h1 class="white">What You’ll Learn</h1>
          <hr>
        </div>
        <div class="row">
          <div class="col-md-4">
            <h3 class="white">Object-Oriented Programming</h3>
            <hr>
            <p class="parragraphs white">Dig deeper with JavaScript as an object-oriented programming language. Extend your JavaScript knowledge with advanced concepts of server-side programming.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">Node.js</h3>
            <hr>
            <p class="parragraphs white">Learn Node.JS! JavaScript on the server side allows for real-time, highly scalable applications.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">NoSQL Databases</h3>
            <hr>
            <p class="parragraphs white">Work with MongoDB/NoSQL databases to store and access data.</p>
          </div>
        </div>


        <div class="row">
          <div class="col-md-4">
            <h3 class="white">SQL Databases</h3>
            <hr>
            <p class="parragraphs white">Use the industry-standard SQL language to store and access data from relational databases.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">Test-Driven Development</h3>
            <hr>
            <p class="parragraphs white">Well-written code starts with well-written tests. Learn to write tests that help you code and master testing tools such as Mocha, Chai, TravisCI and Coveralls.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">Source Code Control</h3>
            <hr>
            <p class="parragraphs white">Learn how to use Git to safely manage and track changes in your code. Learn how to use GitHub to collaborate with other developers on your team or around the world.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <h3 class="white">Collaborative Development</h3>
            <hr>
            <p class="parragraphs white">Gain experience working in teams, so you’re ready to work on one when you graduate.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">APIs and Services</h3>
            <hr>
            <p class="parragraphs white">Learn how to expose data using a RESTful API, as well as how to access data via third-party services to make your applications more dynamic.</p>
          </div>

          <div class="col-md-4">
            <h3 class="white">Capstone</h3>
            <hr>
            <p class="parragraphs white">Leave NSS with a completed MEAN stack capstone project that demonstrates your abilities.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
