<div class="container-fluid ruby-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">Ruby on Rails</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-6">
      <img class="img-responsive" src="/assets/full-time/software-dev2.jpg" alt="">
    </div>
    <div class="col-md-6">
      <h1>Become A Software Engineer</h1>
    </div>
    <div class="col-md-6">
      <p class="parragraphs">So you’re thinking about taking the 
        deep dive into development? 
        Looking for a career change or 
        professional kickstart? Redirect your
         life’s path by learning developer 
        tools and web technologies at NSS. 
        The Web Developer Bootcamp is a 
        six-month, full-time program 
        designed for those ready to go all in. The curriculum teaches the skills and technologies required to become a full-stack software developer.</p>
    </div>
    
  </div>
</div>

<div class="container-fluid no-padding-sides program-content">
  <div class="orange-bg">
    <div class="container padding-bottom-top">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <h1 class="white">Have Questions?</h1>
          <p class="parragraphs white">Visit our Frequently Asked Questions page for more details.</p>
          <a href="" class="btn-default btn btn-faq">FAQ</a>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <h1 class="white">Sign Me Up</h1>
          <p class="parragraphs white">Excited about NSS? Apply today.</p>
          <a href="" class="btn-default btn btn-faq">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
