<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align: center;">Edit Course</h1>
      <div class="col-md-10 center-block">
        <% if @course.type_of_program == "Professional Development (3 months)"%>
          <%= render 'pro' %>
        <%else%>
          <%= render 'form' %>
        <%end%>
      </div>
    </div>
  </div>
</div>
