<div class="container-fluid about-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">About Us</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-12">
      <p class="parragraphs">Nashville Software School (NSS) is a place where a person with aptitude, motivation, passion and commitment can learn the craft of software development. A place where you can get a running start down the path to a life-long career in technology and software development. In fact it’s more than a running start, it’s a blast down the runway with afterburners.</p>

      <p class="parragraphs">Our intensive training and apprenticeship program dramatically accelerates learning about and access to the world of software development. Give us six months and we’ll prepare you for an entry-level software developer job.</p>

      <p class="parragraphs">
      Nashville needs more software developers. Our economy is increasingly built on and around software. Software is the engine that powers the future of health care, publishing, music and entertainment, logistics and other industries. Software is also the engine of new industries that are only now emerging. Yet, at any given point in time there are dozens of unfilled software developer jobs in Nashville. We need to develop and deepen the local talent pool. We can’t expect to make more than a minor dent in local demand for software talent by importing talent because every other major city in the country has exactly the same talent shortage as we do. It is time for a little homegrown talent development on the tech side of Nashville. That’s where NSS comes in.
      </p>
    </div>

<!--     <div class="col-md-6">
      <img class="img-responsive" src="assets/about-us/nss-student.jpg" alt="">
    </div> -->

  </div>



  <div class="row">
    <div class="col-md-12">
      <h1>A Community-Funded Non-Profit</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">Nashville Software School is a Tennessee non-profit corporation. Our mission is to expand the technology workforce in middle Tennessee by providing motivated individuals with access to a career in software development through training, mentorship and apprenticeship. We’re a collection of committed Nashville technology professionals who love what we do and want to give back to our community and our profession by helping others to get a start in the technology industry.
      </p>
      <p class="parragraphs">
      You can support our students by donating to our general operating fund, by sponsoring a student through underwriting the expenses of their training, or through donating to our scholarship fund to support the economically disadvantaged or physically disabled. Please contact us through the contact page on this website for more information on how to support the Nashville Software School.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 p-padding">
      <h1>Our Core Values</h1>
      <hr>
      <h3 class="orange">Craftmanship</h3>
    </div>
    <div class="col-md-3">
      <img src="assets/about-us/craftsmanship.png" alt="" class="responsive">
    </div>
    <div class="col-md-9">
      <p class="parragraphs">We believe software development - the design and creation of websites, mobile applications, business systems, computer games, etc. - is a craft. Crafts are learned by working alongside and under the direction of a master craftsman. Therefore, student developers learn best by being taught and mentored by other software professionals - people who build things from and with software.
      </p>
    </div>
  </div>

  <div class="row program-content">
    <div class="col-md-12">
      <h1 class="front-back">SOFTWARE DEVELOPMENT FOUNDATIONS</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">Months 4-6 of the program are focused on the Software Development Foundations. All of these courses cover the same general software engineering and server-side development concepts, such as test-driven development, object-oriented programming, pair programming, source code control in a team environment, common code patterns, SQL database access, and more. However, each course teaches those concepts in the context of a different programming language and associated technology stack.

      <p class="parragraphs">
        There are four course options for the second half of the program:
      </p>

      <ul>
        <li>
          <a class="orange parragraphs" href="">Ruby language and Rails Framework</a>
        </li>
        <li>
          <a class="orange parragraphs" href="">Javascript language and the MEAN stack</a>
        </li>
        <li>
          <a class="orange parragraphs" href="">C# language and the .Net stack</a>
        </li>
        <li> 
          <a class="orange parragraphs" href="">Python Language and Django Framework</a>
        </li>
      </ul>
        <p class="parragraphs">Visit the links above to learn more about the technologies covered in each of our classes.</p>
      </p>

    </div>
  </div>
</div>

<div class="container-fluid no-padding-sides program-content">
  <div class="orange-bg">
    <div class="container padding-bottom-top">
      <div class="row">
        <div class="col-md-5 col-md-offset-1">
          <h1 class="white">Have Questions?</h1>
          <p class="parragraphs white">Visit our Frequently Asked Questions page for more details.</p>
          <a href="" class="btn-default btn btn-faq">FAQ</a>
        </div>

        <div class="col-md-5 col-md-offset-1">
          <h1 class="white">Sign Me Up</h1>
          <p class="parragraphs white">Excited about NSS? Apply today.</p>
          <a href="" class="btn-default btn btn-faq">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</div>
