<div class="container-fluid about-bg-header">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center program-title">About Us</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="row program-content">
    <div class="col-md-12">
      <p class="parragraphs">Nashville Software School (NSS) is a place where a person with aptitude, motivation, passion and commitment can learn the craft of software development. A place where you can get a running start down the path to a life-long career in technology and software development. In fact it’s more than a running start, it’s a blast down the runway with afterburners.</p>

      <p class="parragraphs">Our intensive training and apprenticeship program dramatically accelerates learning about and access to the world of software development. Give us six months and we’ll prepare you for an entry-level software developer job.</p>

      <p class="parragraphs">
      Nashville needs more software developers. Our economy is increasingly built on and around software. Software is the engine that powers the future of health care, publishing, music and entertainment, logistics and other industries. Software is also the engine of new industries that are only now emerging. Yet, at any given point in time there are dozens of unfilled software developer jobs in Nashville. We need to develop and deepen the local talent pool. We can’t expect to make more than a minor dent in local demand for software talent by importing talent because every other major city in the country has exactly the same talent shortage as we do. It is time for a little homegrown talent development on the tech side of Nashville. That’s where NSS comes in.
      </p>
    </div>

<!--     <div class="col-md-6">
      <img class="img-responsive" src="assets/about-us/nss-student.jpg" alt="">
    </div> -->

  </div>



  <div class="row">
    <div class="col-md-12">
      <h1>A Community-Funded Non-Profit</h1>
    </div>
    <div class="col-md-12">
      <p class="parragraphs">Nashville Software School is a Tennessee non-profit corporation. Our mission is to expand the technology workforce in middle Tennessee by providing motivated individuals with access to a career in software development through training, mentorship and apprenticeship. We’re a collection of committed Nashville technology professionals who love what we do and want to give back to our community and our profession by helping others to get a start in the technology industry.
      </p>
      <p class="parragraphs">
      You can support our students by donating to our general operating fund, by sponsoring a student through underwriting the expenses of their training, or through donating to our scholarship fund to support the economically disadvantaged or physically disabled. Please contact us through the contact page on this website for more information on how to support the Nashville Software School.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 p-padding">
      <h1>Our Core Values</h1>
      <hr>
      <h2 class="orange">Craftmanship</h2>
    </div>
    <div class="col-md-4">
      <img src="assets/about-us/craftsmanship1.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-8">
      <p class="parragraphs">We believe software development - the design and creation of websites, mobile applications, business systems, computer games, etc. - is a craft. Crafts are learned by working alongside and under the direction of a master craftsman. Therefore, student developers learn best by being taught and mentored by other software professionals - people who build things from and with software.
      </p>
      <p class="parragraphs">
        Our training curriculum, our mentorship approach, and our apprenticeship program are all designed to provide the opportunity to lay down a solid foundation of knowledge and skill in the craft of software development. We’re focused on not just teaching computer languages and technology platforms but the principles behind solving problems, designing effective and efficient solutions, and delivering high quality results.
      </p>
    </div>

    <!-- CAREER DEVELOPMENT -->

    <div class="col-md-12 p-padding">
      <h2 class="orange">Career Development</h2>
    </div>
    <div class="col-md-4">
      <img src="assets/about-us/career_development.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-8">
      <p class="parragraphs">We help students who have passion, aptitude, energy and commitment to prepare themselves for a career as a professional software developer. We provide the necessary knowledge, experience and connections to qualify our students for junior-level positions as software developers. We support our students as they invest in themselves and the chance for a career developing software.
      </p>
      <p class="parragraphs">
        We believe that our approach also enhances the careers of our mentors. All of us have had the experience of being mentored and we enjoy the opportunity to do the same. Teaching others is a way to learn more deeply and more intensely a craft we already practice. Exposure to new developers is also a great kick in the pants in terms of energy, enthusiasm and passion. It’s also a chance to give back to the community - to the software development and technical community as well as to the broader Nashville community.
      </p>
    </div>
  </div>

  <!-- COMMUNITY -->

    <div class="col-md-12 p-padding">
      <h2 class="orange">Community</h2>
    </div>
    <div class="col-md-4">
      <img src="assets/about-us/community.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-8">
      <p class="parragraphs">We are committed to building a stronger, more vibrant and faster-growing community of software designers and developers, right here in Nashville. We know how stimulating and rewarding a career in software development can be and we want to share that. There is a great deal of untapped talent in Nashville with the potential to learn the craft of software development.
      </p>
      <p class="parragraphs">
       We leverage the existing community to help build the community. Our mentors are among the smartest, most creative and most experienced software craftspeople in Nashville. Our partner companies include some of the largest employers in Nashville, as well as some of the fastest growing and highest potential tech ventures in the area. They provide meaningful and challenging project work for our apprentices, valuable mentorship experience to our students, and employ numerous NSS graduates.
      </p>

      <p class="parragraphs">
       An important element in a successful career is a strong and extensive professional network. Connecting our students to fellow apprentices, to mentors, to potential employers and to other innovative, creative folks in the Nashville technology world is a crucial part of our educational mission. We provide our students with an opportunity to establish connections to peers, to master software developers, to prospective clients and employers, and to other important influencers in the Nashville and national tech, startup and general business communities.
      </p>
    </div>


    <!-- COLLABORATION -->

    <div class="col-md-12 p-padding">
      <h2 class="orange">Collaboration</h2>
    </div>
    <div class="col-md-4">
      <img src="assets/about-us/collaboration.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-8">
      <p class="parragraphs">Software development projects are team efforts with multiple people, multiple skill sets, and lots of different perspectives. That’s reality. Our mission is to ensure that our students understand that reality and are prepared to contribute productively in a team environment.
      </p>
      <p class="parragraphs">
      Collaboration is a value that’s bred deep in the Nashville creative community - we believe that goes back to Nashville’s songwriters. Songwriting in Nashville is a highly collaborative effort, in which the songwriting community works together in all sorts of combinations to craft great music. We also see that wide-open collaborative environment in the open source software world. Our students become part of the extended Nashville creative community, and work in a craft where all meaningful projects are team efforts.
      </p>

      <p class="parragraphs">
       Our program is built on and around this culture of collaboration. Students work collaboratively from day one, on projects ranging in size from pair projects to full-class projects, in which absolutely every member of the cohort contributes.
      </p>
    </div>


    <!-- CONTINUE TO LEARN -->

    <div class="col-md-12 p-padding">
      <h2 class="orange">Continuing To Learn</h2>
    </div>
    <div class="col-md-4">
      <img src="assets/about-us/continuing-to-learn.jpg" alt="" class="img-responsive">
    </div>
    <div class="col-md-8">
      <p class="parragraphs">We give our students a running start on their career but they have the responsibility to keep going. One of the challenges of being a software professional is the constantly changing nature of technology. There is always something new to learn. There is always a new career frontier that needs to be conquered. There are many career paths that can be taken from a solid foundation of professional software development skills, but each path has its own specialized, and ever-changing, knowledge requirements.
      </p>
      <p class="parragraphs">
      To help prepare our students for the necessity of consistent life-long learning, we believe we must teach our students how to learn. They must understand their own personal learning style, learn the types of educational material that work best for them as individuals, and develop a deep level of comfort with constantly pursuing new knowledge.
      </p>

      <p class="parragraphs">
       Our Evening Program takes this mission even further, by supporting the continuing education needs of the entire Nashville software community. The <a href="" class="orange">Part-Time (nights and weekends) Bootcamp</a> provides an alternative to our full-time Bootcamp for those who seek to enter into a career in software development, while our <a href="" class="orange">Professional Development</a> courses provide a way for practicing software professionals to learn new technologies and expand their skill set.
      </p>
    </div>
  </div>
  <hr class="orange">
</div>
