// Place all the styles related to the Courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$orange: #fe9a22;
$grey: #646464;



.upcoming-programs-table{
  thead{
    font-size: 20px;

  }tbody{
    font-size: 18px;
    color: $grey;
  }tbody a.program-table-links{
    font-size: 18px;
    color: $orange
  }
}

a.btn-apply-orange{
  background: $orange;
  color: #fff;
  padding: 10px 10px;
  border-radius: 0px;
  border: none;
  font-size: 20px;
}

// Courses/new form
.upcoming-programs-form{
  box-shadow: 0px 5px 10px 0px rgb(200, 200, 200);
  .form-control{
    border: none;
    background: rgb(223, 223, 223);
    color: $orange;
  }
}
