// Place all the styles related to the FullTimeBootcamp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$orange: #fe9a22;
$grey: #646464;

.program-title{
  color: #fff;
  font-size: 60px;
}

.full-time-bg-header{
  background-image: url('/assets/full-time-bg.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}



.program-content{
  padding-top: 10%;
}


.front-back{
  color: $orange;
}

.orange{
  color: $orange;
}

.orange:hover{
  color: $grey;
}

.white{
  color: #fff;
}

.orange-bg{
  background: $orange;
}


.no-padding-sides{
  padding-left:0;
  padding-right: 0;
}

.btn-faq{
  background: #fff;
  color: $orange;
  border-radius: 0;
  padding: 10px 60px;
  font-size: 18px;
  border: 0;
}

.technologies{
  max-width: 100px;
  height: 80px;
  display: inline-block
}

// RUBY ONE RAILS


.ruby-bg-header{
  background-image: url('/assets/full-time/ruby/ruby-bg1.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}



// MEAN STACK


.mean-bg-header{
  background-image: url('/assets/full-time/mean/mean-original-bg.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}


// C-SHARP

.cSharp-bg-header{
  background-image: url('/assets/full-time/csharp/csharp-bg.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}

// PYTHON

.python-bg-header{
  background-image: url('/assets/full-time/python/python-bg.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}

// FRONT_END

.front-bg-header{
  background-image: url('/assets/front-end/front-end-dev2.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}


// PART TIME


.part-time-bg-header{
  background-image: url('/assets/part-time-bg.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}

// PRO_DEV

.pro-dev-bg-header{
  background-image: url('/assets/professional.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}



