@import "navbar";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300);
$orange: #fe9a22;
$grey: #646464;



h1, h2, h3, h4, h5, h6, body{
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}


.center-block{
  margin: 0 auto;
  float: none;
}

.text-center{
  text-align: center;
}

.text-left{
  text-align: left;
}

.no-padding{
  padding-left: 0;
  padding-right: 0;
}


header {
  background-image: url('/assets/main-bg-comp.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  text-align: center;
  color: white;
  height: 800px;
}
header .intro-text {
  padding-top: 250px;
  padding-bottom: 50px;
  text-align: left;
}


.intro-p-column{
  padding-top: 200px;
  padding-bottom: 200px;
}

.intro-p{
  color: #fff;
}


.btn-apply{
  padding: 10px 30px;
  background-color: #fff;
  border-radius: 0;
  color: $orange;
  font-size: 30px;
  font-weight: 400;
  border: none;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.btn-apply:hover{
  background-color: $orange;
  color: #fff;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

/////////////////////// VIDEO SECTION ///////////////////////

.video{
  background: #646464;
  margin-top: 50px;
  margin-bottom: 50px;
}

.video-box{
  padding-top: 15px;
  padding-bottom: 15px;
}

.parragraphs{
  font-size: 18px;
  font-weight: 300;
}

.parr-section{
  padding-bottom: 100px;
}

/////////////////////// Services Backgrounds ///////////////////////

.full-time-bg{
  background-image: url('/assets/full-time-bg.jpg');
  background-repeat: none;
  padding: 160px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.part-time-bg{
  background-image: url('/assets/part-time-bg.jpg');
  background-repeat: none;
  padding: 160px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}

.professional-bg{
  background-image: url('/assets/professional.jpg');
  background-repeat: none;
  padding: 160px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}




.programs-bg-heading{
  color: #fff;
}

.programs-bg-p{
  color:#fff;
  font-size: 18px;
  // font-weight: bold;
}

.btn-view-more{
  border-radius: 0;
  background-color: $orange;
  color: #fff;
  padding: 10px 20px;
  font-size: 18px;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.btn-view-more:hover{
  background-color: #fff;
  color: $orange;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -moz-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -o-transition: background-color .3s ease-in-out, color .3s ease-in-out;
}


/////////////////////// News Letter Form ///////////////////////

.newsletter{
  padding: 60px 0;
}

.news-btn{
  background-color: $orange;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 15px 20px;
}

.news-form{
  padding-top: 20px;
}

.form-control{
  border-radius: 0;
  border: 2px solid $orange;
  min-height: 50px;
}

#email-news{
  max-width: 100%;
}


/////////////////////// Gov ///////////////////////

.gov{
  padding: 60px 0;
  background: $grey;
  .gov-p{
    color: #fff;
  }
}


/////////////////////// Footer ///////////////////////


.footer-links{
  color: $orange;
  text-decoration: none;
}

.footer-links:hover{
  color: $orange;
  text-decoration: none;
}