$orange: #fe9a22;
$grey: #646464;

.program-title{
  color: #fff;
  font-size: 60px;
}

.full-bg-header{
  background-image: url('/assets/full-time/full-time-bg.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}

// RUBY ONE RAILS


.ruby-bg-header{
  background-image: url('/assets/full-time/ruby/ruby-bg1.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}



// MEAN STACK


.mean-bg-header{
  background-image: url('/assets/full-time/mean/mean-original-bg.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}


// C-SHARP

.cSharp-bg-header{
  background-image: url('/assets/full-time/csharp/csharp-bg.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}

// PYTHON

.python-bg-header{
  background-image: url('/assets/full-time/python/python-bg.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}

// FRONT_END

.front-bg-header{
  background-image: url('/assets/front-end/front-end-dev2.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}


// PART TIME


.part-time-bg-header{
  background-image: url('/assets/part-time-bg.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}

// PRO_DEV

.pro-dev-bg-header{
  background-image: url('/assets/professional.jpg');
  background-repeat: none;
  padding: 230px 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  background-position: center;
}


  .ios-bg-header{
    background-image: url('/assets/pro-dev/ios/ios-bg.jpg');
    background-repeat: none;
    padding: 230px 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center;
  }